[Unit]
Description=OCluster worker
After=network.target

[Service]
ExecStart=/usr/local/bin/ocluster-worker -c /etc/ocluster/pool.cap --name='{{ ansible_host }}' --obuilder-store={{ obuilder_store }} --fast-sync --allow-push ocurrentbuilder/staging,ocurrent/opam-staging --prune-threshold={{ prune_threshold }} --obuilder-prune-threshold={{ prune_threshold }} --capacity={{ capacity }} --state-dir={{ state_dir }} {{ additional_metrics }} -v
Restart=always
RestartSec=60
{% if extras is defined -%}
{% for extra in extras -%}
{{ extra }}
{% endfor -%}
{% endif -%}

[Install]
WantedBy=multi-user.target
